/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Shippori+Antique+B1&display=swap');

/*Variables*/
:root {
    --principal : #1e000e;
    --secondary : #c9c5ba;
    --terciary : #0e273c;
    --gradient-bg: linear-gradient(to bottom, blue, pink);
    --font-primary: 'Shippori Antique B1', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

}
/*Normalize*/
*,
* ::after,
* ::before{
    Margin: 0;
    Padding:0;
    box-sizing: border-box;
}

/*Globals*/
html{
    font-size: 62.5%;
    font-family: var(--font-primary);
    /*font-weight: ; */
    color: var(--principal);
}
body {
   /* display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; */
    background-color: var(--gradient-bg);
    }
.inicio{
    background-image: url(https://images8.alphacoders.com/691/thumb-1920-691609.jpg) ;
    background-position: right top;
}

ul {
    list-style-type: none;
}
a{
    color: var(--principal);
    text-decoration: none;
    display: inline-block;
    align-items:center;
    font-size: 15px;
}
header a{
    margin-top: 1em;
}
   
/*Helpers*/
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1080 px;
    margin: 0 auto;
}
/*Header y barra de navegaci칩n*/
header {
    background-color: var(--secondary);
   }
header .barra {
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 30%;
    float: left;
}

header .menu {
    flex-basis: 40%;
    justify-content:space-between;
}


.menu .menu__item{
    border: 1px solid var(--secondary); 
    transition: all .3s ease-in-out;
}
.menu .menu__item:hover {
    border-color: var(--principal);
    
}
.menu .menu__item .menu__link {
    font-size: 1.5em;
    padding: 0.5rem;

}



.nosotros {
    display: block;
    margin: 0px auto;
    size: 500px;
}

h2 {
 text-align: center;
 font-size: 60px;
 margin-top: 2.5em;
 /*animation-duration: 2s;
 animation-name: aprender;
 animation-iteration-count: infinite; */
}

.textorelativo {
font-size: 24px;
text-align: center;
}

h3{
    font-size: 16px;
}


/*p치gina de Contacto */

.bcontact{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 10vh 0.2fr 2fr 10vh;
    grid-template-areas: 
    "header"
    "section"
    "div "
    "footer";
    background: var(--gradient-bg);
}

header .hcontact{
    grid-area: "header";
}

section .scontact{
    grid-area: "section";
    justify-self: center ;
    align-self: center;
}

div.subgrid{
    display:grid;
    grid-template-areas: "form picture";
    grid-template-columns: 2fr 1fr;
    margin-left: 10em;
    margin-right:5em;
}
.cflex{
    justify-content: space-around;
}
form {
    grid-area: "form";
    font-size: 2.2em;
    justify-self: center;
}

picture .contact0{
    grid-area: "picture";
    max-width: 100px;
    min-width: 100px;
}
 .fcontact {
    grid-area: "footer";
    background-color: var(--terciary);
 }
 
/*fin p치gina de contacto */

/*p치gina sobre nosotros */
.nosBody{
    background: var(--gradient-bg);
} 
#Travelandlearn {
    background-color: var(--terciary);
    bottom: 0;
    position: fixed;
    width: 100%;
}
footer ul{
    text-decoration: none;
    
}    