@charset "UTF-8";
/*IMPORTS*/
/*MISCELANEOUS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Ubuntu:wght@300&display=swap");
/*RESET*/
*,
* ::after,
* ::before {
  Margin: 0;
  Padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  background-color: #c9c5ba;
  color: #1e000e;
  font-family: "Open Sans", sans-serif; }

.position {
  min-height: calc(100vh - 10vh - 100px); }

ul {
  list-style-type: none; }

a {
  color: #1e000e;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-size: 15px; }

header a {
  margin-top: 0.5em; }

.pagesTitle {
  font-size: 4em;
  padding: 20px;
  font-family: "Ubuntu", sans-serif; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

/*VIEWS*/
/*index */
.index {
  background-image: url(https://wallpaperaccess.com/full/3589351.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%; }
  .index__article {
    font-size: 7em;
    text-align: center;
    margin-top: 1.5em;
    margin-right: auto;
    font-family: "Ubuntu", sans-serif;
    font-style: bold;
    color: white; }

.subarticle {
  font-size: 2em;
  color: white;
  font-family: "Ubuntu", sans-serif; }

form {
  font-size: 1.3em; }

button {
  padding: 0.5em;
  margin: 0.5em; }

.contact_text {
  font-size: 2em; }

.contacto__title {
  font-size: 4em; }

.contactpicture {
  margin: auto; }

/*página sobre nosotros */
.nos {
  background: #c9c5ba;
  min-height: calc(100vh - 10vh - 100px); }
  .nos__title {
    font-size: 5em; }

.nosInfo {
  font-size: 2em; }

.acadiv {
  min-height: 100vh; }

.academy {
  font-size: 2em;
  font-family: "Open Sans", sans-serif; }

/*página nuestros programas */
.program__box {
  background-color: beige;
  border: radius 9%;
  font-size: 2em; }

.nptext {
  font-style: bold; }

/*PARTIALS*/
/*Header y barra de navegación*/
header {
  display: sticky;
  color: #c9c5ba; }

.barra {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  min-height: 80px;
  padding: 0 2rem;
  color: white;
  position: sticky; }

.logo {
  flex-basis: 30%; }

.menu {
  display: flex;
  flex-basis: 40%; }
  .menu__item {
    transition: all .4s ease-in-out;
    margin-inline: 2em;
    color: #0e273c; }
    .menu__item:hover {
      border-color: gray; }
  .menu__link {
    font-size: 1.5em;
    padding: 0.5rem;
    font-family: #c9c5ba;
    color: #c9c5ba; }

a:hover {
  color: #1e000e;
  border-bottom: 0.5rem; }

footer {
  bottom: 0;
  background-color: #0e273c;
  color: white;
  width: 100%;
  height: 100px;
  font-family: #c9c5ba;
  font-size: 1.5em; }

footer ul {
  text-decoration: none;
  color: white; }
