<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel&Learn</title>
    <link rel="stylesheet" href="../css/estilo.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
</head>


  
<body>
    <header>
      <nav class="barra flew-row container">
        <picture class="logo">
          <img src="../multimedia/logo3.jpg" alt="logo de empresa de turismo travel and learn">
        </picture>

        <ul class="flex-row menu"> 
          <li class="menu__item" >
            <a href="../index.html" class="menu__link">Home</a></li>
          <li class="menu__item">
            <a href="../views/nosotros.html" class="menu__link">Sobre nosotros</a></li>
          <li class="menu__item">
            <a href="./contacto.html class="menu__link"">Contacto</a></li>
          <li class="menu__item">
            <a href="./nuestrosprogramas.html" class="menu__link">Nuestros programas</a</li>
          <li class="menu__item">
            <a href="./academias.html" class="menu__link">Sedes academicas</a></li>
        </ul> 
        </nav>
    </header>
  <section>
    <article>
      <h1>Sedes académicas</h1>
      <!--Texto-->
    </article>
  </section>
  
  <footer id="Travelandlearn">
    <h3>Travel&Learn</h3>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>
    </footer>

    
</body>
</html>