
#Travelandlearn {
    background-color: $terciary;
    bottom: 0;
    position: fixed;
    width: 100%; 
    color: $principal;
   
}
footer ul{
    text-decoration: none;
    color:$principal;
    
}    
