
#Travelandlearn {
    background-color: var(--terciary);
    bottom: 0;
    position: fixed;
    width: 100%;
    color: var(--principal);
    margin-right: 2rem;
}
footer ul{
    text-decoration: none;
    color:var(--principal);
    
}    