/*index */

.index{
    
    background-image: url(https://wallpaperaccess.com/full/3589351.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-width: 100%;
   
    
    
    &__article{
        
        font-size: 7em ;
        text-align: center;
        margin-top: 1.5em;
        margin-right: auto;
        font-family: $font-primary;
        font-style: bold;
        color: white;
        }

}

.subarticle{
    font-size: 2em;
    color:white;
    font-family: $font-primary;
}

