/*RESET*/

*,
* ::after,
* ::before{
    Margin: 0;
    Padding:0;
    box-sizing: border-box;
}

/*GLOBALS*/
html{
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: $secondary;
    color: $principal;
    font-family: $font-secondary;
}
.position{
        min-height: calc(100vh - 10vh - 100px);
}

ul {
    list-style-type: none;
}
a{
    color: $principal;
    text-decoration: none;
    display: inline-block;
    align-items:center;
    font-size: 15px;
}
header a{
    margin-top: 0.5em;
}

.pagesTitle{
    font-size: 4em;
    padding: 20px;
    font-family: $font-primary;
}

